@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Ubuntu:wght@500&display=swap');

body {
 background-image: url("index-GIF.gif");
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
}

div.title {
  font-family: 'Ubuntu';
  color: white;
  font-size: 37.5px;
  border: solid;
  border-color: white;
  width: 465px;
}

div.subtitle {
  font-family: 'Oxygen';
  color: white;
  font-size: 20px;
  left: 183px;
  border: solid;
  border-color: green;
}

div.menu {
  position: relative;
  left: 193px;
  font-family: 'Oxygen';
  background-color: white;
  color: purple;
  border: solid;
  border-color: white;
  width: 272px;
}

div.index-description {
  font-family: 'Oxygen';
  color: white;
  background-color: red;
  width: 400px;
  font-size: 20px;
  border: solid;
  border-color: pink;
}

div.stu-container {
  width: 1050px;
  border: solid;
  border-color: orange;

}

div.student {
	  vertical-align: top;
	  display: inline-block;
	  /*left: auto; added this*/
	  margin: 10px;
	  width: 295px;
    height: auto;
	  text-align: left;
	  font-family: 'Oxygen';
	  font-size: 14px;
    background-color: white;
    color: white;
    padding: 10px;
}

div.about {
  position: relative;
  left: 193px;
  font-family: 'Oxygen';
  color: purple;
  background-color: white;
  width: 272px;
  font-size: 15px;
  border: solid;
  border-color: white;
}

div.research {
  position: relative;
  font-family: 'Oxygen';
  color: purple;
  background-color: white;
  width: 465px;
  font-size: 15px;
  border: solid;
  border-color: white;
}

div.examples {
  vertical-align: top;
  display: inline-block;
  /*left: auto; added this*/
  margin: 10px;
  width: 510px;
  height: auto;
  background-color: white;
  color: white;
  padding: 10px;
}


body {
  background-color: purple;
}

mark.one {
  color: red;
  background-color: white;
}

mark.two {
  color: white;
  background-color: purple;
}

mark.three {
  color: white;
  background-color: green;
}

mark.current {
  color: white;
  background-color: purple;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}


a:link {
  text-decoration: none;
  color: purple;
}

a:link.two {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
}

img {
  object-fit: cover;
}

img.one {
  width: 290px;
  height: 290px;
  border: solid 1px;
  border-color: grey;
}

img.two {
  width: 100px;
  height: 100px;
  padding: 0px;
  margin: 0px;
}

img.three {
  width: 500px;
  height: 500px;
  padding: 0px;
  margin: 0px;
  border: solid 1px;
  border-color: purple;
}

/*below here is test CSS for mobile navigation*/

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
